<ion-header>
  <ion-toolbar>
    <ion-title>Cadastro de ferramentas</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="form-container">
    <form [formGroup]="ferramentaForm">
      <ion-item class="ion-margin-top" lines="none">
        <ion-label position="floating">Nome</ion-label>
        <ion-input type="text" placeholder="Nomes" formControlName="nome" autofocus="true">
        </ion-input>
      </ion-item>

      <ion-item class="ion-margin-top" lines="none">
        <ion-label position="floating">Código de Certificação</ion-label>
        <ion-input
          type="number"
          placeholder="00000000000-0"
          formControlName="codCertificacao"
        ></ion-input>
      </ion-item>

      <ion-item class="ion-margin-top" lines="none">
        <ion-label position="floating">Peso (kg)</ion-label>
        <ion-input type="number" placeholder="10,5" formControlName="peso"></ion-input>
      </ion-item>
    </form>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button
      color="primary"
      expand="block"
      (click)="onSubmit()"
      [disabled]="ferramentaForm.invalid"
    >
      Cadastrar
    </ion-button>
  </ion-toolbar>
</ion-footer>
