<ion-header>
  <ion-toolbar>
    <ion-title>Cadastro de balanças</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="form-container">
    <form [formGroup]="balancaForm">
      <ion-item class="ion-margin-top" lines="none">
        <ion-label position="floating">Modelo</ion-label>
        <ion-input type="text" placeholder="xxxxx2455" formControlName="modelo" autofocus="true">
        </ion-input>
      </ion-item>

      <ion-item class="ion-margin-top" lines="none">
        <ion-label position="floating">Fabricante</ion-label>
        <ion-input type="text" placeholder="xxxxx" formControlName="fabricante"></ion-input>
      </ion-item>

      <ion-item class="ion-margin-top" lines="none">
        <ion-label position="floating">Carga Maxima(Kg)</ion-label>
        <ion-input type="number" placeholder="1000.00" formControlName="cargaMaxima"></ion-input>
      </ion-item>

      <ion-item class="ion-margin-top" lines="none">
        <ion-label position="floating">Cliente</ion-label>
        <p>{{ cliente.nome }}</p>
        <ion-button color="primary" (click)="presentModal()">
          <ion-icon name="search"></ion-icon>
        </ion-button>
      </ion-item>
    </form>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button
      color="primary"
      expand="block"
      (click)="onSubmit()"
      [disabled]="balancaForm.invalid"
    >
      Cadastrar
    </ion-button>
  </ion-toolbar>
</ion-footer>
