<ion-content class="ion-padding">
  <h1 class="ion-text-center">
    <ion-text>
      <h1 class="logo-text">SGA</h1>
    </ion-text>
  </h1>

  <div class="login-container">
    <form class="login-form" [formGroup]="authForm" (submit)="onSubmit(authProviders.Email)">
      <ion-item class="ion-margin-top">
        <ion-icon name="mail" color="primary" slot="start"></ion-icon>
        <ion-input type="email" placeholder="E-mail" formControlName="email" inputmode="email" autofocus="true">
        </ion-input>
        <ion-note slot="end" color="danger" *ngIf="email.dirty && email.hasError('required')">
          Obrigatório
        </ion-note>
        <ion-note slot="end" color="danger" *ngIf="email.dirty && email.hasError('email')">
          E-mail inválido
        </ion-note>
      </ion-item>

      <ion-item class="ion-margin-top">
        <ion-icon name="lock" color="primary" slot="start"></ion-icon>
        <ion-input type="password" placeholder="Senha" formControlName="password"></ion-input>
        <ion-note slot="end" color="danger" *ngIf="password.dirty && password.hasError('required')">
          Obrigatório
        </ion-note>
        <ion-note slot="end" color="danger" *ngIf="password.dirty && password.hasError('minlength')">
          Minimo 6 caracteres.
        </ion-note>
      </ion-item>
      <ion-button color="primary" expand="block" type="submit" [disabled]="authForm.invalid">
        Login
      </ion-button>
    </form>
  </div>

  <ion-button class="ion-margin-top" color="primary" expand="block" fill="clear">
    Esqueci minha senha
  </ion-button>
</ion-content>