<ion-content class="ion-padding">
  <div class="container top">
    <img src="" />
    <ion-segment (ionChange)="segmentChanged($event)" mode="ios" value="login">
      <ion-segment-button value="login">
        <ion-label>Login</ion-label>
      </ion-segment-button>
      <ion-segment-button value="recuperarSenha">
        <ion-label>Recuperar Senha</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>
  <ion-slides>
    <ion-slide>
      <div class="slide-inner ion-padding">
        <span>Login</span>
        <form class="login-form" [formGroup]="authForm" (submit)="onSubmit(authProviders.Email)">
          <ion-item class="ion-margin-top" lines="none">
            <ion-icon name="mail" color="primary" slot="start"></ion-icon>
            <ion-input
              type="email"
              placeholder="E-mail"
              formControlName="email"
              inputmode="email"
              autofocus="true"
            ></ion-input>
            <ion-note slot="end" color="danger" *ngIf="email.dirty && email.hasError('required')">
              Obrigatório
            </ion-note>
            <ion-note slot="end" color="danger" *ngIf="email.dirty && email.hasError('email')">
              E-mail inválido
            </ion-note>
          </ion-item>

          <ion-item class="ion-margin-top" lines="none">
            <ion-icon name="lock" color="primary" slot="start"></ion-icon>
            <ion-input type="password" placeholder="Senha" formControlName="password"></ion-input>
            <ion-note
              slot="end"
              color="danger"
              *ngIf="password.dirty && password.hasError('required')"
            >
              Obrigatório
            </ion-note>
            <ion-note
              slot="end"
              color="danger"
              *ngIf="password.dirty && password.hasError('minlength')"
            >
              A senha deve possuior 6 caracteres.
            </ion-note>
          </ion-item>
          <ion-button
            class="ion-margin-top"
            color="primary"
            expand="block"
            type="submit"
            [disabled]="authForm.invalid"
          >
            Login
          </ion-button>
        </form>
      </div>
    </ion-slide>
    <ion-slide>
      <ion-button class="ion-margin-top" color="primary" expand="block">
        Esqueci minha senha
      </ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>
