<ion-header>
  <ion-toolbar>
    <ion-title>Afericao</ion-title>
    <ion-buttons slot="start" (click)="close()">
      <ion-icon slot="end" name="close"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding" scroll-y="false">
  <form [formGroup]="afericaoForm" (submit)="onSubmit()">
    <ion-slides [options]="slideOpts" #mySlider class="swiper-no-swiping">
      <ion-slide>
        <h2>Dados para Aferição</h2>
        <ion-list>
          <ion-item class="ion-margin-top">
            <ion-label>Cliente: {{ cliente.nome }}</ion-label>
            <ion-button slot="end" (click)="modalCliente()">
              <ion-icon slot="icon-only" name="search"></ion-icon>
            </ion-button>
          </ion-item>
          <ion-item class="ion-margin-top">
            <ion-label>Balanca:</ion-label>
            <ion-select cancelText="Fechar" okText="Selecionar" formControlName="balanca">
              <ion-select-option *ngFor="let balanca of balancas" [value]="balanca.id">
                {{ balanca.modelo }}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item class="ion-margin-top">
            <ion-label>Ferramentas:</ion-label>
            <ion-select multiple="true" cancelText="Fechar" okText="Selecionar" formControlName="ferramenta">
              <ion-select-option *ngFor="let ferramenta of ferramentass" [value]="ferramenta.id" >
                {{ ferramenta.nome }}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item class="ion-margin-top">
            <ion-label position="floating">Temperatura</ion-label>
            <ion-input type="number" placeholder="0.00" formControlName="temperatura"></ion-input>
          </ion-item>
          <ion-item class="ion-margin-top">
            <ion-label position="floating">Umidade do ar</ion-label>
            <ion-input type="number" placeholder="0.00" formControlName="umidade"></ion-input>
          </ion-item>
        </ion-list>
        <ion-button fill="clear" (click)="nextSlide()">
          Continue
          <ion-icon slot="end" name="arrow-forward"></ion-icon>
        </ion-button>
      </ion-slide>

      <ion-slide>
        <h2>Pesagem de Centro</h2>
        <ion-list>
          <ion-item class="ion-margin-top">
            <ion-label position="floating">Peso obtido</ion-label>
            <ion-input type="number" placeholder="0.00" formControlName="pesoCentro"></ion-input>
          </ion-item>
        </ion-list>

        <ion-button fill="clear" (click)="prevSlide()">
          Voltar
          <ion-icon slot="start" name="arrow-back"></ion-icon>
        </ion-button>
        <ion-button fill="clear" (click)="nextSlide()"
          >Continue <ion-icon slot="end" name="arrow-forward"></ion-icon
        ></ion-button>
      </ion-slide>

      <ion-slide>
        <h2>Pesagem de Canto</h2>
        <ion-list>
          <ion-item class="ion-margin-top">
            <ion-label position="floating">Peso canto 1</ion-label>
            <ion-input type="number" placeholder="0.00" formControlName="pesoCanto1"></ion-input>
          </ion-item>
          <ion-item class="ion-margin-top">
            <ion-label position="floating">Peso canto 2</ion-label>
            <ion-input type="number" placeholder="0.00" formControlName="pesoCanto2"></ion-input>
          </ion-item>
          <ion-item class="ion-margin-top">
            <ion-label position="floating">Peso canto 3</ion-label>
            <ion-input type="number" placeholder="0.00" formControlName="pesoCanto3"></ion-input>
          </ion-item>
          <ion-item class="ion-margin-top">
            <ion-label position="floating">Peso canto 4</ion-label>
            <ion-input type="number" placeholder="0.00" formControlName="pesoCanto4"></ion-input>
          </ion-item>
        </ion-list>
        <ion-button fill="clear" (click)="prevSlide()">
          Voltar
          <ion-icon slot="start" name="arrow-back"></ion-icon>
        </ion-button>
        <ion-button fill="clear" (click)="nextSlide()"
          >Continue <ion-icon slot="end" name="arrow-forward"></ion-icon
        ></ion-button>
      </ion-slide>

      <ion-slide>
        <h2>Teste de Carga Maxima</h2>
        <ion-list>
          <ion-item class="ion-margin-top">
            <ion-label position="floating">Peso Maximo</ion-label>
            <ion-input type="number" placeholder="0.00" formControlName="cargaMaxima"></ion-input>
          </ion-item>
        </ion-list>
        <ion-button fill="clear" (click)="prevSlide()">
          Voltar
          <ion-icon slot="start" name="arrow-back"></ion-icon>
        </ion-button>
        <ion-button fill="clear" type="submit" (click)="mensagem()"
          >Finalizar <ion-icon slot="end" name="arrow-forward"></ion-icon
        ></ion-button>
      </ion-slide>
    </ion-slides>
  </form>
</ion-content>
